    <div id="gitmentContainer"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        owner: 'quking',
        repo: 'https://github.com/quking/quking.github.io',
        oauth: {
            client_id: '1c11244d56e4eea9b229',
            client_secret: '604205847858a2539914256fbe8a295100b9ba43',
        },
    });
    gitment.render('gitmentContainer');
    </script>

